{% extends 'base.html'%}
{% load static %}

{% block body %}
<section >
    <br/>
    <br/>
    <br/>
    <br/>
    
    
            <div class="container">
                <br/>
                <div >
                    <h1>You've been logged out.!</h1>
                    <small class="text-muted">Want to login again..??
                        <a class="ml-2" href="{% url 'login' %}">Login</a>
                    </small>
                </div>
            </div>
            <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
          
  </section>
    
{% endblock %}