{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<section >
    <br/>
    <br/>
    <br/>
    <br/>
    
    
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset style="padding-right: 15cm;">
                        <legend >Join Today</legend>
                        {{ form|crispy }}
                        <div>
                            <button class="btn-success" type="submit">SignUP</button>
                            
                        </div>
                        <br/>
                    </fieldset>
                    
                </form>
                <br/>
                <div >
                    <small class="text-muted">Already have an account??
                        <a class="ml-2" href="{% url 'login' %}">SignIN</a>
                    </small>
                </div>
            </div>
            
          
  </section>
    
{% endblock %}